@import "~bootstrap/scss/bootstrap";

$light-gray: #f5f5f5;
$charcoal: #696969;
$dark-blue: #404261;

$bright-green: #5fd05f;
$bright-red: #404261;

body {
  background: $light-gray;
}

.page-header {
  color: $dark-blue;
}

.stock-card {
  display: flex;
  margin: 5px;
  background: white;

  p {
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.1em;
    color: $dark-blue;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.stock-card-left {
  width: 60px;
  background: $bright-green;
  display:flex;
  align-items: center;

  .price {
    color: white;
    font-size: .5em;
    font-size: .5em;
  }
}

.arrow {
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.vertical-bar {
  height: 90%;
  width: 2px;
  background: white;
}







.stock-card-right {
  flex-grow: 1;
  padding: 10px;
}

.stock-symbol-label {
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: .7em;
  color: $charcoal;
}

.stock-price {
  font-size: 1.3em;
  color: $dark-blue;
  margin-top: 5px;

  span {
    font-size: .5em;
    color: $bright-green;
  }
}

.stock-recent-performance {
  color: $charcoal;
  font-size: .6em;

  span {
    margin-right: 5px;
  }
}